.baner {
    &__wrapper {
        display: flex;
        align-items: flex-end;
        max-width: $mobile-width;
        margin: 0 auto;
        min-height: 591px;
        box-sizing: border-box;
        padding: 0 20px;
        padding-bottom: 40px;
        background-image: url('../img/content/content-2.jpg');
        background-size: 100%;
        background-repeat: no-repeat;
    }

    &__title {
        margin: 0;
        font-size: 42px;
        line-height: 50px;
        font-size: 600;
        padding: 24px 10px 38px;
        color: $color-second;
    }
}