.baner {
    &__wrapper {
        display: flex;
        align-items: flex-end;
        max-width: $mobile-width;
        margin: 0 auto;
        min-height: 591px;
        box-sizing: border-box;
        padding: 0 20px;
        padding-bottom: 40px;
        background-image: url('../img/content/content-2.jpg');
        background-size: 100%;
        background-repeat: no-repeat;
    }

    &__title {
        margin: 0;
        font-size: 42px;
        line-height: 50px;
        font-size: 600;
        padding: 24px 10px 38px;
        color: $color-second;
    }
}

@media (min-width: $tablet-width) {
    .baner {
        &__wrapper {
            max-width: $tablet-width;
            display: flex;
            justify-content: center;
            padding: 0 90px 80px;
            min-height: 762px;
        }

        &__title {
            font-size: 68px;
            line-height: 1.17;
            max-width: 600px;
        }
    }
}