.baner {
    &__wrapper {
        display: flex;
        align-items: flex-end;
        max-width: $mobile-width;
        margin: 0 auto;
        min-height: 591px;
        box-sizing: border-box;
        padding: 0 20px;
        padding-bottom: 40px;
    }

    &__title {
        margin: 0;
        padding: 24px 10px 38px;
        color: $color-second;
    }
}