.header {
    width: 100%;
    background-color: $color-main;

    &__wrapper {
        width: 100%;
        padding: 22px 20px;
        box-sizing: border-box;

        &-content {
            width: 100%;
            max-width: $mobile-width;
            margin: 0 auto;
        }
    }

    &__burger {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 28px;
        height: 19px;
        margin-left: auto;

        &-line {
            position: absolute;
            display: block;
            width: 100%;
            height: 3px;
            background-color: $color-second;
            left: 0;

            &:nth-child(1) {
                top: 0;
            }

            &:nth-child(2),
            &:nth-child(3) {
                top: 50%;
                transform: translateY(-50%);
            }

            &:nth-child(4) {
                bottom: 0;
            }
        }
    }


    &__menu {
        display: none;
        padding: 40px 0;
        
        &-open {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &-title {
            margin: 0;
            font-size: 22px;
            line-height: normal;
            font-weight: 400;
            margin-bottom: 50px;
        }

        &-nav {
            width: 100%;
            margin-bottom: 50px;

            &-list {
                width: 100%;
                padding: 0;
                margin: 0;
                list-style-type: none;
            }

            &-item {
                width: 100%;
                box-sizing: border-box;
                text-align: center;
                padding: 10px;

                &-link {
                    font-size: 14px;
                    font-weight: 400;
                    text-decoration: none;
                    color: $color-main;
                }
            }
        }

        &-link {
            text-decoration: none;
            font-size: 14px;
            color: $color-second;

            &-wrapper {
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                padding-left: 30px;
                padding-right: 30px;
                background-color: $color-fourth;
                border-radius: 20px;
            }
        }
    }

}


@media (min-width: $tablet-width) {
    .header {
        &__wrapper {
            &-content {
                max-width: $tablet-width;
            }
        }
    }
}   

// @media (min-width: $desktop-width) {
//     .header {
//         &__wrapper {
//             width: 100%;
//             max-width: 1440px;
//             padding: 0 120px;
//             box-sizing: border-box;
//         }
//     }
// }