.header {
    width: 100%;

    &__wrapper {
        width: 100%;
        max-width: 500px;
        margin: 0 auto;
        position: relative;
        z-index: 2;
    }

}


// @media (min-width: $tablet-width) {
//     .header {
//         &__wrapper {
//             width: 100%;
//             max-width: unset;
//         }
//     }

// }   

// @media (min-width: $desktop-width) {
//     .header {
//         &__wrapper {
//             width: 100%;
//             max-width: 1440px;
//             padding: 0 120px;
//             box-sizing: border-box;
//         }
//     }
// }
