.info {
    width: 100%;
    background-color: $color-third;

    &__wrapper {
        box-sizing: border-box;
        padding: 105px 20px 90px;
        max-width: $mobile-width;
        margin: 0 auto;
    }

    &__icon {
        display: block;
        width: 70px;
        height: 70px;
        margin: 0 auto;
        margin-bottom: 60px;
    }

    &__title {
        margin: 0;
        text-align: center;
        font-size: 22px;
        line-height: 1.45;
        font-weight: 300;
        margin-bottom: 75px;
    }

    &__list {
        padding: 0;
        margin: 0;
        list-style-type: none;
    }

    &__item {
        padding: 23px 0 40px;

        &:last-child {
            padding-bottom: 0;
        }

        &-title {
            margin: 0;
            font-size: 20px;
            line-height: 1.35;
            margin-bottom: 20px;
            font-weight: 600;
        }

        &-text {
            margin: 0;
            font-size: 16px;
            line-height: 1.45;
            font-weight: 300;
        }
    }
}

@media (min-width: $tablet-width) {
    .info {
        &__wrapper {
            max-width: 600px;
            padding: 105px 0 90px;
        }

        &__icon {
            margin-bottom: 100px;
        }

        &__title {
            font-size: 26px;
        }

    }
}

@media (min-width: $desktop-width) {
    .info {
        &__wrapper {
            max-width: $desktop-width;
            padding: 90px 120px;
            box-sizing: border-box;
        }

        &__icon {
            margin-bottom: 60px;
        }

        &__title {
            padding: 0 100px;
        }

        &__list {
            display: flex;
            justify-content: space-between;
            width: 100%;
        }

        &__item {
            width: 30%;
        }
    }
}