// Стиль текста
$font-family: 'Open Sans',Arial,sans-serif;
$font-size: 14px;


// Цвета
$color-main: #000000;
$color-second: #ffffff;
$color-third: #f7f3ed;
$color-fourth: #de9000;
$color-fifth: #e8e8e8;


// Вьюпорт
$mobile-width: 400px;
$tablet-width: 768px;
$desktop-width: 1440px;

